<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DataBaseContext" connectionString="Data Source=DESKTOP-8NQEQ1G;Initial Catalog=Internships;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="emailLogin" value="internships.manager@gmail.com" />
    <add key="emailPass" value="Dontstealitpls" />
  </appSettings>
</configuration>