<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WpfClient.BackEnd.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model11" connectionString="data source=DESKTOP-8NQEQ1G\SQLEXPRESS;initial catalog=company;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>